<%= render "shared/header" %>
<div class="slide"></div>
<div class="main_container">
  <div class="post-wrapper">
    <%= render partial: 'menu', collection: @menus %>
    
  </div>
</div>
<div class="post-btn-contents">
  <%= link_to(new_menu_path, class: 'post-btn') do %>
    <span class='post-btn-text'>レシピを投稿する</span>
  <% end %>
</div>