<%= render "shared/header" %>
<div class="slide"></div>
<div class="main_container">
  <div class="post-wrapper">
    <%= render partial: 'menu', collection: @menus %>
  </div>
</div>
<%= render "shared/footer" %>
