<%= render "shared/header" %>
<div class="main_container">
  <div class="index-inner">
    <div class="post-wrapper">
      <%= render partial: 'shared/menu', collection: @menus %>
    </div>  
  </div>
</div>
<%= render "shared/footer" %>