.card {
      width: calc((100% - 50px) / 4);
      margin-bottom: 40px;
      height: 300px; 
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0 4px;
      height: 400px;
      position: relative;
}

.image-content {
      width: 95%;
      height: 60%;
      margin: 8px auto;
}
.card_img { 
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.card-body {
      margin: 4px 0 0 0;
      text-align: center;
}

.card_title {
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
}
.card_user {
      font-size: 10px;
      color: #999;
      text-align: right;
      text-decoration: none;
}

.bar-chart {
      /* background-color: blueviolet; */
      /* height: auto; */
      position: absolute;
      bottom: 0;
}