.menu-post-contents {
      background-color: #f5f5f5;
      font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
      font-size: 14px;
      display: flex;
      align-items: center;
      flex-direction: column;
      min-width: 500px;
}

.items-sell-header {
      padding: 5vh 0;
      text-align: center;
}

.items-sell-main {
      background-color: #FFF;
      width: 70vw;
      min-width: 450px;
      padding: 10vh 15vw;
}

.menus-sell-title {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
}


.indispensable {
      background: #ea352d;
      margin-left: 8px;
      padding: 3px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
}

.weight-bold-text {
      font-weight: bold;
      min-width: 170px;
      margin-bottom: 10px;
}

.select-box {
      height: 30px;
      width: 100%;
      background-color: #f5f5f5;
      padding-left: 20px;
}

.question {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #0099e8;
      color: #FFF;
      font-size: 13px;
      text-align: center;
      line-height: 20px;
      text-decoration: none;
      margin-left: 5px;
}

.question-text {
      display: flex;
}

.img-upload {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2vh 0;
}

.click-upload {
      margin: 15px 0;
      min-width: 250px;
}

.click-upload>p {
      margin-bottom: 15px;
}

.new-menus {
      padding: 2vh 0;
}

.menus-text {
      width: 100%;
      padding: 16px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
      resize: none;
}



/*材料*/

.menus-ingredients {
      margin-top: 5vh;
      height: 400px;
      background-color: rgb(226, 204, 176);
      border: 1px dotted #000;
}

.ingredients-text {
      width: 50%;
      padding: 16px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
      resize: none;
}

.ingredients-container {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
}
.category_id {
      padding-right: 20px;
}

.num-display {
      width: 100px;
      height: 30px;
      border-bottom: 2px solid black;
      text-align: right;
      margin: 10px 5px 5px 0;
}
.pro-content {
      width: 100px;
      height: 30px;
      border-bottom: 2px solid black;
      text-align: right;
      margin: 10px 5px 5px 0;
}

.meet-select{
      margin-top: 10px;
      height: 25px;
      width: 115px;
}
.quantity-input {
      height: 25px;
      width: 100px;
      margin-right: 5px;
}

.quantity_sum {
      display: flex;
      margin: 0 5px 0 0;
}

.total-container {
      display: flex;
      margin: 15px 5px 0 0;
}

.pfc-window {
      display: flex;
      justify-content: space-around;
      width: 70px;
      background-color: white;
}


/*材料*/

.menus-explain {
      margin-top: 2vh;
}




.items-detail {
      display: flex;
      justify-content: space-between;
      padding: 2vh 0;
}

.items-detail>.form {
      width: 300px;
      padding: 2vh 0;
}



.select-box {
      margin: 2vh 0;
}

.sell-price {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.price-content {
width: 300px;
border-bottom: 1px solid #ccc;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.price-text {
/* min-width: 170px; */
display: flex;
align-items: center;
}

.sell-yen {
font-size: 18px;
}

.price-input {
height: 30px;
text-align: right;
padding-right: 10px;
}

.caution {
padding: 5vh 0;
}

.sentence>a {
color: #0099e8;
text-decoration: none;
}



/* 下部ボタン */
.post-btn-contents {
width: 100%;
text-align: center;
}

.post-btn {
background: #ea352d;
border: 1px solid #ea352d;
color: #fff;
width: 100%;
height: 50px;
font-size: 14px;
margin-bottom: 4vh;
}

.back-btn {
background: #aaa;
border: 1px solid #aaa;
color: #fff;
padding: 15px 35%;
text-decoration: none;
}

/* /下部ボタン */

.items-sell-footer {
background-color: #f5f5f5;
width: 60vw;
padding: 3ch 0;
display: flex;
flex-direction: column;
align-items: center;
}


.items-sell-footer>.menu {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 3vh 0;
}

.menu>li>a {
color: black;
font-size: 12px;
margin: 2vw;
}

.inc {
font-size: 13px;
}