.menu-post-contents {
      background-color: #f5f5f5;
      font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
      font-size: 14px;
      display: flex;
      align-items: center;
      flex-direction: column;
      min-width: 500px;
      padding-bottom: 60px;
}


.menus-sell-title {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
}


.indispensable {
      background: #ea352d;
      margin-left: 8px;
      padding: 3px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
}

.weight-bold-text {
      font-weight: bold;
      min-width: 170px;
      margin-bottom: 10px;
}

.select-box {
      height: 30px;
      width: 100%;
      background-color: #f5f5f5;
      padding-left: 20px;
}

.question {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #0099e8;
      color: #FFF;
      font-size: 13px;
      text-align: center;
      line-height: 20px;
      text-decoration: none;
      margin-left: 5px;
}

.question-text {
      display: flex;
}

.img-upload {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2vh 0;
}

.click-upload {
      margin: 15px 0;
      min-width: 250px;
}

.click-upload>p {
      margin-bottom: 15px;
}

.new-menus {
      padding: 2vh 0;
}

.menus-text {
      width: 100%;
      padding: 16px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
      resize: none;
}



/*材料*/

.menus-ingredients {
      margin-top: 5vh;
      height: 450px;
      background-color: rgb(255, 215, 175);
      border: 1px dotted #000;
}

.ingredients-text {
      width: 50%;
      padding: 16px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
      resize: none;
}

.ingredients-container {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
}
.category_id {
      padding-right: 20px;
}

.num-display {
      width: 100px;
      height: 30px;
      border-bottom: 2px solid black;
      text-align: right;
      margin: 10px 5px 5px 0;
}
.pro-content {
      width: 100px;
      height: 30px;
      border-bottom: 2px solid black;
      text-align: right;
      margin: 10px 5px 5px 0;
}

.meet-select{
      margin-top: 10px;
      height: 26px;
      width: 115px;
}
.quantity-input {
      height: 24px;
      width: 100px;
      margin-right: 5px;
}

.quantity_sum {
      display: flex;
      margin: 0 5px 0 0;
}

.pfc-container {
      margin-right: 5px;
}

.pfc-container p {
      text-align: center;
}

.total-container {
      display: flex;
      margin: 15px 5px 0 0;
}

.pfc-window {
      display: flex;
      justify-content: space-around;
      width: 70px;
      height: 23px;
      background-color: white;
      border: 1px solid black;
}

.total-container {
      margin-top: 40px;
      width: 100%;
      height: 30px;
      justify-content: space-between;

}

.total-input {
      border: 3px solid black;
      background-color: #b7ffa8;
}

.total-container p {
      margin-top: 3px;
      margin-right: 2px;
}
.etc-container {
      margin-top: 20px;
}
.etc-container {
      font-size: 15px;
}
.etc-input {
      width: 100%;
      height: 90px;
}


/*材料*/

.menus-explain {
      margin-top: 2vh;
}

.select-box {
      margin: 2vh 0;
}

.caution {
padding: 5vh 0;
}


.image-list{
   width: 100%;
   height: auto;
}



.post-btn {
width: 100%;
text-align: center;
}

.post-new-btn {
background-color: rgb(243, 185, 24);
color: black;
width: 100%;
height: 52px;
font-size: 18px;
margin-bottom: 6vh;
text-decoration: none;
}

.back-btn {
background: #aaa;
border: 1px solid #aaa;
color: #fff;
padding: 15px 35%;
text-decoration: none;
}


.success {
      height: 100px;
      font-size: 20px;
}