.main-wrapper {
      background-color: rgb(238, 232, 232);
      padding:10px  0 200px 0;

}

.main-inner {
      background-color: rgb(252, 249, 232);
      width: 95vw;
      height: 120Vh;
      margin: 0 auto;
      box-shadow: 0 0 10px;
}

.menu-wrapper {
      width: 95%;
      height: 100%;
      margin: 0 auto;
}
.menu-hedding {
      width: 450px;
      height: 30px;
      font-size: 25px;
      margin-top: 8px;
}

.show_img {
      width: 400px;
      height: 400px;
      object-fit: cover;
      margin-top: 5px;
}

.pic-content {
      display: flex;
      justify-content: space-around;

}
.pfc-title {
      font-size: 15px;
      font-family:'Times New Roman', Times, serif;
}
.pfc-content {
      margin-top: 30px;
      text-align: center;
}

.info-wrapper {
      margin: 10px 0 0 70px;
      display: flex;
      height: 43%;
}


.foodstuff-content {
      width: 45%;
}

.main-food {
      width: 40%;
      margin-bottom: 30px;
}





.foodstuff-content span {
      margin-left: 10px;
      font-size: 15px;
}

.recipe-info {
      width: 50%;
      position: relative;
}
.edit {
      position: absolute;
      bottom: 0;
      width: 100%;
}
.menu__manage {
      display: flex;
      justify-content: flex-end;
}

.menu-delete {
      margin-left: 30px;
}


.heart-red {
      color: #e54747;
}

.fas,.far {
      margin-left: 10px;
      font-size: 20px;
}
/* 



.attention {
      color: gray;
      font-size: 12px;
}
.menu_image {
      width: 450px;
      height: 400px;   
}

.menu_user {
      text-decoration: none;
}



.menu__detail {
      margin-left: 180px;
      background-color: blue;
}

.menu__manage {
      width: 400px;
      margin:140px 0 0 100px;
      background-color: aquamarine;
      display: flex;
}

.menu-edit {
      margin-right: 40px;
} */