
<div class='footer'>
  <div class='footer-contents'>
    <div class='masucle-details'>
      <h2 class='footer-content-head'>マッスルレシピについて</h2>
    </div>
    <div class='muscle-details'>
      <h2 class='footer-content-head'>マッスルレシピを見る</h2>   
    </div>
  </div>
  <p>© MUSCLRECIPE</p>
</div>