<div class="card">
  <div class="image-content">
    <%= link_to image_tag(menu.image, class: :card_img ), menu_path(menu.id) %>
  </div>
  <div class="card-body">
    <%= link_to menu.title, menu_path(menu.id), class: :card_title%>
    <%= link_to "by #{menu.user.nickname}", user_path(menu.user_id), class: :card_user %>
  </div>
</div>