.main_container {
      height: 100%;
      padding-bottom: 100px;
}

.index-inner {
      width: 1024px;
      margin: 0 auto;
      padding-top: 30px;

}

.post-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
}

.post-wrapper::after {
      display: block;
      content:"";
      width: calc((100% - 50px) / 4);
}

.post-wrapper::before {
      display: block;
      content:"";
      width: calc((100% - 50px) / 4);
      order: 1;
}

@media (max-width: 1024px) {
  .header-left .header-logo {
    width:100%;
    height: 20px;
    margin: 0;
    padding: 0;
    align-items: flex-start;
  }

  .top-page-header .header-right {
    width: 60%;
  }

  .main_container .index-inner {
    width: 90%;
    margin: 0 auto; 
  }

  .post-wrapper .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .card-body .card_title {
    font-size: 20px;
  }
  .card_user {
    font-size: 16px;
  }

  .header-btn {
    height: 100%;
    font-size: 10px;
  }
  
  .post-btn-contents {
    height: 100%;
  }
  .post-btn-text {
    width: 60%;
    display: block;
  }

}

@media (max-width: 599px) {
  .header-left .header-logo {
    width:100%;
    height: 15px;
    margin: 0;
    padding: 0;
    align-items: flex-start;
  }

  .top-page-header .header-right {
    width: 40%;
  }
  .main_container .index-inner {
    width: 90%;
    margin: 0 auto; 
  }

  .post-wrapper .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card-body .card_title {
    font-size: 18px;
  }
  .card-body .card_user {
    font-size: 14px;
  }
}