.top-page-header {
  background: rgb(251, 178, 95);
  height: 50px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}


.title {
  color:rgb(253, 69, 69);
  font-size: 20px;
  margin: 10px;
}

.header-right {
  text-align: right;
}

li {
  margin: 10px 10px 0 0;
  justify-content: space-between;
  text-align: center;
}
li a {
  color: black;
  text-decoration: none;
}

.lists {
  display: flex;
}
